# Data preprocessing for transformer
#### Author: Xinyi Ji

In [22]:
import numpy as np
import pandas as pd

In [23]:
import os, sys

# Open a file
path = "./image_to_vector/image_to_vector2"
dirs = os.listdir( path )

df = pd.DataFrame(columns=range(1280))
# This would print all the files and directories
i = 0
for file in dirs:
    if i >= 4000:
        break
    i = i + 1
    cur = "./image_to_vector/image_to_vector2/" + file
    txt_list = np.loadtxt(cur, dtype=str)
    cur_df = pd.DataFrame(txt_list.reshape(-1, len(txt_list)))
    df = pd.concat([df, cur_df])
    if i % 200 == 0:
        print(i)
df

200
400
600
800
1000
1200
1400
1600
1800
2000
2200
2400
2600
2800
3000
3200
3400
3600
3800
4000

,0,1,2,3,4,5,6,7,8,9,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,0,0,0,0,0,0,0,0,0,0,...,6583,7148,6565,3188,4312,6262,448,1732,215,4120
0,0,0,0,0,0,0,0,0,0,0,...,1291,5470,3610,2133,6686,108,4834,3610,5542,1244
0,0,0,0,0,0,0,0,0,0,0,...,3441,6419,2014,390,4809,6227,5031,1680,1018,1309
0,0,0,0,0,0,0,0,0,0,2,...,3404,5868,383,2548,6361,2576,2119,8011,4340,6000
0,0,0,0,0,0,0,0,0,0,0,...,2177,2576,2464,825,4920,6289,61,4492,2061,704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,0,0,0,0,0,0,0,13,...,2167,7537,6297,4441,7141,729,5452,4844,3572,6243
0,0,0,0,0,0,0,0,0,0,14,...,5377,5668,4580,5891,6103,7455,7689,421,7673,2918
0,0,0,0,0,0,0,0,0,0,15,...,4106,4522,2896,592,592,3260,7986,2896,2830,1938
0,0,0,0,0,0,0,0,0,0,11,...,7479,974,5778,7583,5375,15,5995,2399,7804,20
0,0,0,0,0,0,0,0,0,0,13,...,6301,6638,782,2461,7362,5679,3680,2634,5798,6053

In [52]:
df = df.astype(int)
df

,0,1,2,3,4,5,6,7,8,9,...,1270,1271,1272,1273,1274,1275,1276,1277,1278,1279
0,0,0,0,0,0,0,0,0,0,0,...,6583,7148,6565,3188,4312,6262,448,1732,215,4120
0,0,0,0,0,0,0,0,0,0,0,...,1291,5470,3610,2133,6686,108,4834,3610,5542,1244
0,0,0,0,0,0,0,0,0,0,0,...,3441,6419,2014,390,4809,6227,5031,1680,1018,1309
0,0,0,0,0,0,0,0,0,0,2,...,3404,5868,383,2548,6361,2576,2119,8011,4340,6000
0,0,0,0,0,0,0,0,0,0,0,...,2177,2576,2464,825,4920,6289,61,4492,2061,704
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,0,0,0,0,0,0,0,0,0,13,...,2167,7537,6297,4441,7141,729,5452,4844,3572,6243
0,0,0,0,0,0,0,0,0,0,14,...,5377,5668,4580,5891,6103,7455,7689,421,7673,2918
0,0,0,0,0,0,0,0,0,0,15,...,4106,4522,2896,592,592,3260,7986,2896,2830,1938
0,0,0,0,0,0,0,0,0,0,11,...,7479,974,5778,7583,5375,15,5995,2399,7804,20
0,0,0,0,0,0,0,0,0,0,13,...,6301,6638,782,2461,7362,5679,3680,2634,5798,6053

In [53]:
df.to_csv('transformer_data.csv', index=False)

In [54]:
txt_col = range(256)
img_col = range(256,1024+256)

In [55]:
df_txt = df[txt_col]
df_img = df[img_col]

txt_array = df_txt.values
img_array = df_img.values

In [56]:
np.max(txt_array)

50

In [57]:
np.min(txt_array)

0

In [58]:
np.max(img_array)

8191

In [59]:
np.min(img_array)

0